#red{
    color: red;
    text-align: left;

}
#yellow{
    color: yellow;
    text-align: center;
  
}
#blue{
       color: blue;
       text-align: end;
   
}
h1{
    color: black;
    text-align: center;
    background-color: navajowhite;
}

html{
    background-color:blueviolet;
}
div{
    text-align: center;
    background-color:navajowhite ;

}
a{
    text-align-last: center;
}
div{
    border: 10px solid black;
}