#red{
    color: red;
    text-align: left;

}
#yellow{
    color: yellow;
    text-align: center;
  
}
#blue{
       color: blue;
       text-align: end;
   
}
h1{
    color: brown;
}
image{
    justify-content: center;
}